.app-header {
    height: 100px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
    text-align: center;
    font-size: 50px;
}

.dash-dropdown{
    margin: 35px;
    margin-left: 55vw;
    width: 40vw;
    height: 60px;
    padding: 5px;
    font-size: 50px;
}

.Select-multi-value-wrapper{
    overflow: auto;
}

.input-data{
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}

input{
    padding: 10px;
    margin: 15px;
    width: 50vw;
    border-width: 2px;
}

.button{
    size: 100px;
    text-align: center;
}